
<div class="banner" style="background-image: url(
  <%= image_path("background.jpg") %>);">
  <div class="banner-content">
    <h1>Tous les couples ont le droit à leurs paradis</h1>
    <p>Louez votre espace détente, de nuit comme de jours</p>
    <a class="btn btn-primary btn-lg">Réservez maintenant</a>
  </div>
</div>

<div class="container text-center">
 <h3>Notre selection pour vos futurs espace détentes</h3>
  <div class="row">
    <% @flats.last(6).each do |flat| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to flat_path(flat) do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= flat.photo_1 %>');">
            <div class="title">
              <h3> <%= flat.name %></h3>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <hr/>

  <% if user_signed_in? %>
    <!-- Show button Add a flat -->
    <%= link_to "Proposer un appartement à la location", new_flat_url, { class: "btn btn-primary"} %>
  <% end %>

</div>
