<div class="container">
  <div class="row">

    <div class="col-xs-2"><!--Offset-->  </div>
    <div class="col-xs-8">




      <h1><%= @flat.name.upcase %></h1>

      <!-- Edit Button -->
      <% if @flat.user_id = current_user %>
        <%= link_to 'Edit', edit_flat_path(@flat) %>
      <% end %>


      <h4><%= @flat.description.capitalize %></h4>

      <!-- Photos -->
      <% @flat.photos.each do |photo| %>
        <%= cl_image_tag photo.path, width: 500, height: 500, crop: :fit %>
      <% end %>

      <!-- Prices-->
      <h1>Prix Journée <%= @flat.price_day %> €</h1>
      <h1>Prix Nuitée <%= @flat.price_night %> €</h1>

      <!-- Options-->
      <h3>Options Proposées :</h3>
      <ul>
        <% if @flat.champagne == true %>
          <li>Champage</li>
        <% end %>
        <% if @flat.petals == true %>
          <li>Pétales de rose</li>
        <% end %>
        <% if @flat.massage_kit == true %>
          <li>Kit de massage</li>
        <% end %>
      </ul>

      <!-- Bookings -->
      <% if @flat.bookings.present? %>
        <h4>THIS FLAT IS FULL :</h4>
        <ul>
        <% @flat.bookings.each do |booking| %>
          <li>FROM <i><%= booking.started_at %></i> TO <i><%= booking.started_at %></i> </li>
        <% end %>
        </ul>

      <% else %>
          <h4>THIS FLAT IS HIGHLY AVAILABLE</h4>
      <% end %>

      <!-- Call To Action -->
      <%= link_to 'Réserver cet appartement', new_flat_booking_path(@flat), class: 'btn btn-primary' %>

    </div>

  </div>
</div>

