<div class="col-xs-2"></div>
<div class="col-xs-8">
  <h1><%= @flat.name.upcase %></h1>
  <hr/>

  <!-- @flat.address -->
  <h4><%= @flat.description.capitalize %></h4>

  <div class="row">
    <div class="col-xs-9">
      <% @flat.photos.each do |photo| %>

        <%= cl_image_tag photo.path, width: 900, height: 900, crop: :fit %>

      <% end %>

    </div>
    <div class="col-xs-3">
      <h1>Prix Journée <%= @flat.price_day %> €</h1>
      <h1>Prix Nuitée <%= @flat.price_night %> €</h1>
      <hr/>
      <h3>Options Proposées :</h3>
      <ul>
        <% if @flat.champagne == true %>
          <li>Champage</li>
        <% end %>
        <% if @flat.petals == true %>
          <li>Pétales de rose</li>
        <% end %>
        <% if @flat.massage_kit == true %>
          <li>Kit de massage</li>
        <% end %>
      </ul>
    </div>
  </div>
    <hr/>
   <%= link_to 'Réserver cet appartement', new_flat_booking_path(@flat), class: 'btn btn-primary' %>
   </div>

</div>



