<h1 class="text-center">Your selected flat</h1>
<div class="container text-center">
  <div class="row">
    <ul>
      <li><%= @flat.name %></li>
      <li><%= @flat.address %></li>
      <li><%= @flat.description %></li>
      <li><%= @flat.price_day %></li>
      <li><%= @flat.petals %></li>
      <li><%= @flat.massage_kit %></li>
      <li><%= @flat.champagne %></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-xs-4 ">
      <% @flat.photos.each do |photo| %>

        <div class="card" > <%= cl_image_tag photo.path, width: 300, height: 200, size: '125x125', crop: :fit %>
        </div>
      <% end %>

    </div>
  </div>
</div>



