<div class="container">
<link rel="stylesheet" href="src/css/swipebox.css">
  <div class="row">

    <div class="col-xs-2"><!--Offset-->  </div>
    <div class="col-xs-8">




      <h1><%= @flat.name.upcase %></h1>

      <h4><%= @flat.description.capitalize %></h4>

      <!-- Photos -->
      <% @flat.photos.each do |photo| %>
        <%= cl_image_tag photo.path, width: 500, height: 500, crop: :fit, class: "swipebox"  %>
      <% end %>

      <!-- Prices-->
      <h1>Prix Journée <%= @flat.price_day %> €</h1>
      <h1>Prix Nuitée <%= @flat.price_night %> €</h1>

      <!-- Options-->
      <h3>Options Proposées :</h3>
      <ul>
        <% if @flat.champagne == true %>
          <li>Champage</li>
        <% end %>
        <% if @flat.petals == true %>
          <li>Pétales de rose</li>
        <% end %>
        <% if @flat.massage_kit == true %>
          <li>Kit de massage</li>
        <% end %>
      </ul>

      <!-- Call To Action -->
      <%= link_to 'Réserver cet appartement', new_flat_booking_path(@flat), class: 'btn btn-primary' %>
      <% if @flat.user_id = current_user %>
        <%= link_to 'Edit', edit_flat_path(@flat) %>
      <% end %>



    </div>

  </div>
</div>
<script src="lib/jquery-2.0.3.js"></script>
<script src="src/js/jquery.swipebox.js"></script>
<script type="text/javascript">
;( function( $ ) {

  $( '.swipebox' ).swipebox();

} )( jQuery );
</script>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @flat_coordinates.to_json %>;
      alert('Flat coordinates are ' + coord.lat + ', ' + coord.lng);
    });
  <% end %>
<% end %>
