 <div class="container">
  <div class="row">
    <% @flat.photos.each do |photo| %>
      <div class="col-xs-4 ">
        <div class="photo-appartement" >
         <%= cl_image_tag photo.path, width: 300, height: 300, size: '300x300', crop: :fit %>
        </div>
      </div>
      <% end %>
  </div>
  <div class="text-center">
    <div class="row">
      <div class="col-xs-8">
        <div class="tabs">
          <a class="tab active" href="#">
            <h3>Presentation</h3>
          </a>
          <a class="tab" href="#">
            <h3>Commentaires</h3>
          </a>
          <a class="tab" href="#">
            <h3>L'hotes</h3>
          </a>
          <a class="tab" href="#">
            <h3>Emplacement</h3>
          </a>
        </div>
        <ul class="list">
        <h2><%= @flat.name %></h2>
        <li><%= @flat.address %></li>
        <li><%= @flat.description %></li>
        <li><%= @flat.price_day %></li>
        <li><%= @flat.petals %></li>
        <li><%= @flat.massage_kit %></li>

        <% if @flat.champagne == true %>

          <li>Possibilty to add a champage</li>
        <% end %>
        </ul>
    </div>
  </div>
  <div class="col-xs-offset-4">
</div>
    </div>

      <
    <div class="row">
        <%= link_to 'Book this Flat', new_flat_booking_path(@flat) %>
      </div>
    </div>
  </div>
</div>
