<div class="container">
  <div class="appartment">
      <h2 ><%= @flat.name.upcase %>

      <!-- Edit Button -->
      <% if @flat.user_id == current_user.id %>
        <%= link_to edit_flat_path(@flat) do %>
          <i class="fa fa-pencil" aria-hidden="true" ></i>
        <% end %>
      <% else %>
         <!-- Call To Action -->
      <%= link_to 'Réserver', new_flat_booking_path(@flat), class: 'btn btn-primary' %>
      <% end %>
      </h2>
    </div>


      <!-- Photos -->

      <div class="row">
        <% @flat.photos.each do |photo| %>
        <div class="col-xs-4">
          <%= cl_image_tag photo.path, width: 500, height: 300, crop: :scale %>
        </div>
        <% end %>
      </div>




      <!-- Bookings -->
      <% if @flat.bookings.present? %>
        <h4>THIS FLAT IS FULL :</h4>
        <ul>
        <% @flat.bookings.each do |booking| %>

          <% if booking.ended_at >= DateTime.now %>
            <li>FROM <i><%= booking.started_at %></i> TO <i><%= booking.started_at %></i> </li>
          <% else %>
          <% end %>

        <% end %>
        </ul>
      <% else %>




    <div class="row text-left" >
      <div class="col-xs-offset-1 col-xs-3">
        <h2>description</h2>
      <h4><%= @flat.description.capitalize %></h4>
      </div>
      <div class="col-xs-3">
       <h2>Prix : </h2>
      <h4>
        <i class="fa fa-sun-o" aria-hidden="true"></i> <%= @flat.price_day %> €  &nbsp;   <i class="fa fa-moon-o" aria-hidden="true"></i><%= @flat.price_night %> €
        </h4>
    </div>
    <div class="col-xs-3">
      <h2>Options :</h2>
      <h4>
      <ul>
          <% if @flat.champagne == true %>
            <li><i class="fa fa-glass" aria-hidden="true"></i> Champage </li>
          <% end %>
          <% if @flat.petals == true %>
            <li><i class="fa fa-gift" aria-hidden="true"></i> Pétales de rose</li>
          <% end %>
          <% if @flat.massage_kit == true %>
            <li><i class="fa fa-hand-paper-o" aria-hidden="true"></i> Kit de massage</li>
          <% end %>
      </ul>
      </h4>
    </div>
    <div class="col-xs-offset-1"></div>
    </div>



          <h4 class= "available-flat">THIS FLAT IS HIGHLY AVAILABLE</h4>
      <% end %>




</div>


